body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(https://wallpapercave.com/wp/ToYo4Ig.jpg);
    background-attachment: fixed;
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.border-allmovie
{
    border-bottom: solid;
    border-color: #bcbcbc;
    border-width: 1px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.border-customerorder {
    border-bottom: solid;
    border-color: #bcbcbc;
    border-width: 1px;
    padding-bottom: 20px;
}

.order-box {
    background-color: #385c7c;
    margin-block-end: 40px;
    padding: 20px;
    max-width: 700px;
}

#grad {
    background-image: linear-gradient(#1e2f3e, #89a2b7);
    background-repeat: no-repeat;
}

.footer-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: solid 1px;
    padding-top: 10px;
    border-color: dimgrey;
    background-color: #383434;
    
.carousel-inner > .item > img {
    width: 440px;
    height: 160px;
    object-fit: contain;
}