
@{
    ViewBag.Title = "Confirmation Page";
}

<br />
<br />
<br />
<br />
<h4 class="text-success">The order was succesfully completed!</h4>

<br />
<br />
<br />

<button class="btn btn-success" onclick="location.href='@Url.Action("Index", "Home")'">Back to home</button>
