@model MovieShopDelta.Models.Database.Customer

@{
    ViewBag.Title = "ShoppingCart";
}

<h2>ShoppingCart</h2>
         
@Html.Action("BoughtMovies")

@using (Html.BeginForm("CheckOut", "Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(u => u.EmailAddress, new { htmlAttributes = new { placeholder = "email@example.com" } })
    <input class="btn btn-success" type="submit" value="Submit" />
}
<style>

</style>