@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
</br>
<h3>@ViewBag.Message</h3>

<p>For more information about our movies and any discount promotion codes, please contact our customer support for more information</p>
