@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    André Filipe Rocha<br />
    Kråkrisvägen 13D<br />
    <abbr title="Phone">P:</abbr>
    073-3664824
</address>

<address>
    Jonas<br />
    Address<br />
    <abbr title="Phone">P:</abbr>
    000-0000000
</address>
<address>
    Zara<br />
    Address<br />
    <abbr title="Phone">P:</abbr>
    000-0000000
</address>
<address>
    <strong>Customer Support:</strong>   <a href="mailto:arocha.work@gmail.com">arocha.work@gmail.com</a><br />
    <strong>Movie Manager:</strong> <a href="mailto:Marketing@example.com">Jonas@mail.com</a></br>
    <strong>CEO</strong> <a href="mailto:Marketing@example.com">Zara@mail.com</a>
</address>