@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    André Filipe Rocha<br />
    Kråkrisvägen 13D<br />
    <abbr title="Phone">P:</abbr>
    073-3664824
</address>

<address>
    Jonas Tärnimark<br />
    Lektorsgatan<br />
    <abbr title="Phone">P:</abbr>
    073-1508714
</address>
<address>
    Zara Fahlström<br />
    Linggatan 1<br />
    <abbr title="Phone">P:</abbr>
    073-6104545
</address>
<address>
    <strong>Customer Support:</strong>   <a href="mailto:arocha.work@gmail.com">arocha.work@gmail.com</a><br />
    <strong>Movie Manager:</strong> <a href="mailto:jonta72@hotmail.com">jonta72@hotmail.com</a><br />
    <strong>CEO:</strong> <a href="mailto:zara.fahlstrom@gmail.com">zara.fahlstrom@gmail.com</a>
</address>