@model MovieShopDelta.Models.Database.Movie
@{
    ViewBag.Title = "All Movies";
}
<h2>All Movies</h2>

<hr />
@using (Html.BeginForm("AllTheMovies", "Movie", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(u => u.Title, new { htmlAttributes = new { placeholder = "email@example.com" } })

    
    <input class="btn btn-success" type="submit" value="Submit" />
}
<div>
    @Html.Action("AllMovies");
</div>

