@model MovieShopDelta.Models.Database.Customer

@{
    ViewBag.Title = "Customer Order";
}

<h2>Customer Orders</h2>
<hr />
<br />
<br />

@using (Html.BeginForm("CustomerOrder", "Customer", FormMethod.Post))
{
    <div class="row" style="margin-left: 2px">
        @Html.AntiForgeryToken()
        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "email@example.com", style = "max-width: 280px" } })
        &ensp;
        <button type="submit" value="create" class="btn btn-success" style="width:110px">Find orders</button>
    </div>
    <p class="text-muted" style="margin-left: 4px; margin-top: 4px"><i>Enter a customer's email address to display all it's orders</i></p>
}

<br />
@Html.Action("CustomerOrders")

