@model MovieShopDelta.Models.Database.Customer

@{
    ViewBag.Title = "CustomerOrder";
}

<h2>Customer Orders</h2>
<br />
<br />
<p><i>Please enter a valid email address to view that customers orders</i></p>
@using (Html.BeginForm("CustomerOrder", "Customer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(c => c.EmailAddress, new { htmlAttributes = new { placeholder = "email@example.com" } })
    
    <input class="btn btn-success" type="submit" value="Submit" />
}
<br />
<br />
@Html.Action("CustomerOrders")


